.table{
	border-collapse: collapse;
	border-radius: 2px;
}
.heading{
	 background-color: darkblue;
	color: white;
}
.onethree{
	background-color: lightgray;
	border: none;
}
.twofour{
	border: none;
}